.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  border: 1px solid black;
  height: 500px;
  width: 500px;
  justify-content: center;
}
.inner {
  border: 1px solid black;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 1px;
}
.active {
  background-color: black;
}
